header{
    height: 200px;
    background-color:grey ;
}

aside{
    height: 200px;
    background-color:rgb(205, 233, 237) ;
    width: 20%;
    float:left
}

section{
    height: 200px;
    background-color:rgb(145, 182, 237) ;
    width: 80%;
    float:left
}

footer{
    height: 100px;
    background-color:rgb(205, 173, 223) ;
    clear: both;  /*解除文繞圖*/
}

.post{
    text-align: center;
    padding: 10px;
    float: left;
}




