nav{
    background-color: rgb(62, 58, 58);
    text-align:right;
}

nav ul{
    margin: 0px;
}

nav li{
    list-style-type: none;
    display:inline-block;
}
nav li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: white;
}
nav li a:hover{
    background-color:darkgray;
    color: rgb(44, 104, 255);
    transition: background-color 2s ease-in-out, color 2s;
}
